.toolbar {
    --background: #075E54;
    color: white;

    &__backbutton {
        color: white;
    }
}

.content {
    --background: url("../../../../assets/whatsapp/background.jpg") !important;
    background-size: cover;

    &__container {
        height: 100%;        
        display: flex;
        flex-direction: column;
    }

    &__chatbox {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow-y: auto;

        &__stickers {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            width: 35%;
            min-height: min-content;

            &__img {
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }

    &__stickerbox {
        background-color: #F0F0F0;
        flex: 1 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__header {
            background-color: #F0F0F0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__img {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: auto;
                margin-left: 10px;
                margin-top: 4px;
                margin-bottom: 4px;
                border-bottom: 3px solid #009688;
                padding-bottom: 1px;
            }

            &__text {
                color: #009688;
                font-size: 20px;
                font-weight: 700;
                margin-right: 5px;
            }
        }

        &__stickers {
            overflow-y: auto;
            flex: 1;
            
            background-color: #F0F0F0;
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            align-items: center;
            align-content: flex-start;
            margin-bottom: auto;
            justify-content: flex-start;
            padding-top: 2px;
            

            &__img {
                width: 80px; 
                margin: 5px 10px;
                padding: 5px;   
                box-sizing: border-box; 
                transition: transform .2s ;

                &:active,
                &:hover {
                    transform: scale(1.2);
                    border:  2px solid #009688;
                }
            }
        }

        &__footer {
            background-image: url("../../../../assets/whatsapp/chat_footer.png") !important;;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            flex: 0 0 15%;
        }
    }
}
