.toolbar {

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
}

.content {
   --background: var(--ion-background-color);

   &__grid {
       margin-top: 20px;
   }

   &__list {
   }

}